<%= form_for(@block) do |f| %>
  <% if @block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@block.errors.count, "error") %> prohibited this block from being saved:</h2>

      <ul>
      <% @block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :generator_id %><br>
    <%= f.text_field :generator_id %>
  </div>
  <div class="field">
    <%= f.label :total_amount_nqt %><br>
    <%= f.text_field :total_amount_nqt %>
  </div>
  <div class="field">
    <%= f.label :total_fee_nqt %><br>
    <%= f.text_field :total_fee_nqt %>
  </div>
  <div class="field">
    <%= f.label :total_pos_reward_nqt %><br>
    <%= f.text_field :total_pos_reward_nqt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
