<table class="table table-striped" id="blocks">
  <thead>
    <tr>
      <th><%= sortable "height", "Height" %></th>
      <th><%= sortable "timestamp", "Time" %></th>
      <th><%= sortable "generator", "Generator" %></th>
      <th><%= sortable "total_amount_nqt", "Amount" %></th>
      <th><%= sortable "total_fee_nqt", "Fee" %></th>
      <th><%= sortable "total_pos_nqt", "POS Reward" %></th>
    </tr>
  </thead>
  <tbody>
    <% @blocks.each do |block| %>
      <tr>
        <td><%= link_to block.height, block %></td>
        <td><%= convert_timestamp block.timestamp %></td>
        <td><%= link_to_account block.generator %></td>
        <td class="align-right" data-amount="<%= block.total_amount_nqt %>"><%= convert_to_nxt block.total_amount_nqt %></td>
        <td class="align-right"><%= convert_to_nxt block.total_fee_nqt %></td>
        <td class="align-right"><strong><%= convert_to_nxt block.total_pos_nqt %></strong></td>
      </tr>
    <% end %>
  </tbody>
</table>