<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :block_id %><br>
    <%= f.number_field :block_id %>
  </div>
  <div class="field">
    <%= f.label :native_id %><br>
    <%= f.text_field :native_id %>
  </div>
  <div class="field">
    <%= f.label :amount_nqt %><br>
    <%= f.text_field :amount_nqt %>
  </div>
  <div class="field">
    <%= f.label :fee_nqt %><br>
    <%= f.text_field :fee_nqt %>
  </div>
  <div class="field">
    <%= f.label :sender_id %><br>
    <%= f.text_field :sender_id %>
  </div>
  <div class="field">
    <%= f.label :recipient_id %><br>
    <%= f.text_field :recipient_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
