<table class="table table-striped">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>ID</th>
      <!-- <th>Block</th> -->
      <th>Sender</th>
      <th>Recipient</th>
      <th>Amount</th>
      <th>Fee</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= convert_timestamp transaction.timestamp %></td>
        <td><%= link_to transaction.native_id, transaction %></td>
        <!-- <td><%= link_to transaction.block.native_id, transaction.block %></td> -->
        <td><%= link_to_account transaction.sender %></td>
        <td><%= link_to_account transaction.recipient %></td>
        <td><%= convert_to_nxt transaction.amount_nqt %></td>
        <td><%= convert_to_nxt transaction.fee_nqt %></td>
      </tr>
    <% end %>
  </tbody>
</table>