<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "timestamp", "Timestamp" %></th>
      <th><%= sortable "id", "ID" %></th>
      <!-- <th>Block</th> -->
      <th><%= sortable "sender", "Sender" %></th>
      <th><%= sortable "recipient", "Recipient" %></th>
      <th><%= sortable "amount_nqt", "Amount" %></th>
      <th><%= sortable "fee_nqt", "Fee" %></th>
      <th><%= sortable "txn_type", "Type" %></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= convert_timestamp transaction.timestamp %></td>
        <td><%= link_to_transaction transaction %></td>
        <!-- <td><%= link_to transaction.block.native_id, transaction.block %></td> -->
        <td><%= link_to_account transaction.sender %></td>
        <td><%= link_to_account transaction.recipient %></td>
        <td><%= convert_to_nxt transaction.amount_nqt %></td>
        <td><%= convert_to_nxt transaction.fee_nqt %></td>
        <td><%= transaction_type_to_s(transaction) %></td>
      </tr>
    <% end %>
  </tbody>
</table>