<% provide(:title, "Blockexplorer Transaction ##{@transaction.native_id}") %> 
<h1>
  <small>Transaction #<%= @transaction.native_id %></small>
</h1>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th colspan="2">Summary</th>
        </tr>
        <tr>
          <td>Time</td>
          <td><%= convert_timestamp @transaction.timestamp %></td>
        </tr>
        <tr>
          <td>Type</td>
          <td><%= transaction_type_to_s(@transaction) %></td>
        </tr>
        <tr>
          <td>Sender</td>
          <td><%= link_to_account @transaction.sender %> | <%= link_to_account @transaction.sender, @transaction.sender.native_id %></td>
        </tr>
        <tr>
          <td>Recipient</td>
          <td><%= link_to_account @transaction.recipient %> | <%= link_to_account @transaction.recipient, @transaction.recipient.native_id %></td>
        </tr>
        <tr>
          <td>Amount</td>
          <td><%= convert_to_nxt @transaction.amount_nqt %></td>
        </tr>
        <tr>
          <td>Fee</td>
          <td><%= convert_to_nxt @transaction.fee_nqt %></td>
        </tr>
        <tr>
          <td>Block</td>
          <td><%= link_to_block @transaction.block %></td>
        </tr>
        <tr>
          <td>Height</td>
          <td><%= @transaction.block.height %></td>
        </tr>                 
      </tbody>
      
    </table>
  </div>
</div>
