<header class="navbar navbar-top navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <div>
          <img align="right" src="<%= image_path('finland_round_64.png') %>">
          <%= link_to "FIMK TEST-NET", '/', id: "logo", class: 'navbar-brand', style: 'color:red;font-weight:bold;'  %>
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav"> 
          <li><%= link_to "Blocks",         '/blocks' %></li>
          <li><%= link_to "Transactions",   '/transactions' %></li>
          <li><%= link_to "Accounts",       '/accounts' %></li>
          <li><%= link_to "Aliases",        '/aliases' %></li>
          <li><%= link_to "Stats",          '/blocks/stats/0/0' %></li>
        </ul>
        <form action="/search" method="GET" class="navbar-form navbar-right navbar-search" role="form">
          <div class="input-group">
            <select class="form-control" name="type">
              <option <%= params[:controller] == 'accounts' ? 'selected ' : '' %> value="account">Account</option>
              <option <%= params[:controller] ==  'aliases' ? 'selected ' : '' %> value="alias">Alias</option>
              <option <%= params[:controller] ==  'blocks' ? 'selected ' : '' %> value="block">Block</option>
              <option <%= params[:controller] == 'transactions' ? 'selected ' : '' %>value="transaction">Transaction</option>
            </select>  
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="search">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Search</button>              
            </span>               
          </div>
        </form>
      </div>
    </div>
  </div>
</header>

              
