<table class="table table-striped" id="blocks">
  <thead>
    <tr>
      <th>ID</th>
      <th>ID (numeric)</th>
      <th>POS Rewards</th>
      <th align="right">Balance</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to_account account %></td>
        <td><%= link_to_account account, account.native_id %></td>
        <td class="align-right" data-balance="<%= account.pos_balance_nqt %>"><%= convert_to_nxt account.pos_balance_nqt %></td>
        <td align="right" class="align-right" data-balance="<%= account.balance_nqt %>"><%= convert_to_nxt account.balance_nqt %></td>
      </tr>
    <% end %>
  </tbody>
</table>