<table class="table table-striped" id="blocks">
  <thead>
    <tr>
      <th>ID</th>
      <th>ID (numeric)</th>
      <th>POS Rewards</th>
      <th>Balance</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to account.native_id_rs, account %></td>
        <td><%= link_to account.native_id, account %></td>
        <td class="align-right" data-balance="<%= account.pos_balance_nqt %>"><%= convert_to_nxt account.pos_balance_nqt %></td>
        <td class="align-right" data-balance="<%= account.balance_nqt %>"><%= convert_to_nxt account.balance_nqt %></td>
        <td><%= show_passphrase(account.passphrase)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>