<table class="table table-striped" id="blocks">
  <thead>
    <tr>
      <th><%= sortable "native_id_rs", "ID" %></th>
      <th><%= sortable "native_id", "ID (numeric)" %></th>
      <th><%= sortable "pos_balance_nqt", "POS Rewards" %></th>
      <th align="right"><%= sortable "balance_nqt", "Balance" %></th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to_account account %></td>
        <td><%= link_to_account account, account.native_id %></td>
        <td class="align-right" data-balance="<%= account.pos_balance_nqt %>"><%= convert_to_nxt account.pos_balance_nqt %></td>
        <td align="right" class="align-right" data-balance="<%= account.balance_nqt %>"><%= convert_to_nxt account.balance_nqt %></td>
      </tr>
    <% end %>
  </tbody>
</table>