<% provide(:title, "Blockexplorer Account ##{@account.native_id}") %> 
<h1>
  <small>Account #<%= @account.native_id_rs %></small>
</h1>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th colspan="2">Summary</th>
        </tr>
        <tr>
          <td>ID</td>
          <td><%= @account.native_id_rs %></td>
        </tr>
        <tr>
          <td>ID (numeric)</td>
          <td><%= @account.native_id %></td>
        </tr>        
        <tr>
          <td>Balance</td>
          <td><strong><%= convert_to_nxt @account.balance_nqt %></strong></td>
        </tr>
        <tr>
          <td><strong>POS rewards earned</strong></td>
          <td><strong><%= convert_to_nxt @account.pos_balance_nqt %></td>
        </tr>
        <tr>
          <td>Public key</td>
          <td><%= @account.public_key %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h1>
  <small>Transactions</small>
</h1>
<div class="row">
  <div class="col-md-12">
    <%= will_paginate(@transactions, :param_name => :t_page) %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Timestamp</th>
          <th>ID</th>
          <th>Account</th>
          <th>Amount</th>
          <th>Fee</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <tr>
            <% if transaction.sender == @account %>
              <td><img width="24px" src="<%= image_path('arrow_right.png') %>"></td>
              <td><%= convert_timestamp transaction.timestamp %></td>
              <td><%= link_to_transaction transaction %></td>
              <td><%= link_to_account transaction.recipient %></td>
              <td><%= convert_to_nxt( - transaction.amount_nqt) %></td>
              <td><%= convert_to_nxt(transaction.fee_nqt) %></td>
              <td><%= transaction_type_to_s(transaction) %></td>
            <% else %>
              <td><img width="24px" src="<%= image_path('arrow_left.png') %>"></td>
              <td><%= convert_timestamp transaction.timestamp %></td>
              <td><%= link_to_transaction transaction %></td>
              <td><%= link_to_account transaction.sender %></td>
              <td><%= convert_to_nxt transaction.amount_nqt %></td>
              <td><%= convert_to_nxt transaction.fee_nqt %></td>
              <td><%= transaction_type_to_s(transaction) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<h1>
  <small>Aliases</small>
</h1>
<div class="row">
  <div class="col-md-12">
    <%= will_paginate(@aliases, :param_name => :a_page) %>
    <table class="table table-striped" id="blocks">
      <thead>
        <tr>
          <th>Alias</th>
          <th>URI</th>
          <th>Owner</th>
          <th>Transaction</th>
        </tr>
      </thead>
      <tbody>
        <% @aliases.each do |a| %>
          <tr>
            <td><%= link_to_alias a %></td>
            <td><%= a.uri %></td>
            <td><%= link_to_account a.owner %></td>
            <td><%= link_to_transaction a.txn %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
